<head> <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.26/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.26/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.26/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="uk-hidden-visually uk-notification uk-notification-top-left uk-width-auto" data-svelte-h="svelte-d5uqm">
        <div class="uk-notification-message"><a href="#tm-main">Skip to main content</a></div>
    </div>
    <div class="uk-section-secondary tm-section-texture">
        <div class="uk-sticky-placeholder" style="height: 0px; width: 0px; margin: 0px;"></div>
        <div class="uk-navbar-container tm-navbar-container uk-navbar-transparent uk-sticky uk-sticky-fixed"
            uk-sticky="media: 960; " style="position: sticky; top: 0px;">
            <div class="uk-container uk-container-expand">
                <nav class="uk-navbar" uk-navbar="">
                    <div class="uk-navbar-left"><a class="uk-navbar-item uk-logo uk-active" href="/"
                            aria-label="Back to Home" aria-current="page"><img src="/images/marty-100.png"
                                class="uk-margin-small-right" width="50" height="50" alt="">
                            Monte's Martians</a></div>
                    <div class="uk-navbar-right">

                        <ul class="uk-navbar-nav uk-visible@m">
                            <li><a href="/mars">Gallery</a></li>
                            <li><a href="/docs/introduction">Documentation</a></li>
                            <li><a href="/changelog">Changelog</a></li>
                        </ul>

                </nav>
            </div>
        </div>

        <div id="tm-main" class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center"
            uk-height-viewport="offset-top: true; offset-bottom: true"
            style="min-height: max(0px, (100vh - 80px) - 102.5px);">
            <div class="uk-width-1-1">
                <div class="uk-background-cover" style="background-image: url(images/mars.png);">
                    <div class="uk-container">
                        <p><img src="/images/rover.png" width="300" height="300" alt="Curiosity Rover"></p>
                        <h1 class="uk-margin-medium uk-text-lead">Welcome to the Mars Rover Gallery<br
                                class="uk-visible@s">
                            Explore stunning photos captured by Mars rovers.</h1>
                        <div class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid"
                            uk-grid="">
                            <div class="uk-first-column"><a
                                    class="uk-button uk-button-primary tm-button-primary uk-button-large tm-button-large uk-visible@s"
                                    href="/mars">View Mars Rover Gallery</a> <a
                                    class="uk-button uk-button-primary tm-button-primary uk-hidden@s" href="/mars">View
                                    Mars
                                    Rover Gallery</a></div>
                            <div><a class="uk-button uk-button-default tm-button-default uk-button-large tm-button-large uk-visible@s"
                                    href="https://github.com/montgomerykern">GitHub</a> <a
                                    class="uk-button uk-button-default tm-button-default uk-hidden@s"
                                    href="https://github.com/montgomerykern">GitHub</a></div>
                            <br><br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-small">
            <div class="uk-container uk-container-expand uk-text-center uk-position-relative">
                <ul class="uk-subnav tm-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom" uk-margin="">
                    <li class="uk-first-column"><span>Version 1.0 Beta</span></li>
                    <li><a href="https://github.com/montgomerykern/Nasa"><span class="uk-margin-small-right uk-icon"
                                uk-icon="star">
                            </span>5 Stargazers</a></li>
                    <li><a class="uk-text-lowercase" href="https://twitter.com/montgomerykern"><span
                                class="uk-margin-small-right uk-icon" uk-icon="twitter"></span>@MontgomeryKern</a></li>
                    <li><a href="https://discordapp.com/"><span class="uk-margin-small-right uk-icon"
                                uk-icon="commenting"></span>Community</a></li>
                </ul>
            </div>
        </div>
    </div>


</body>